body, html {
	font-family:arial;
	font-size:14px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

header {
	font-weight:bold;
	font-size:150%;
}

footer {
	font-size: 80%;
}

input,select {display:block;}

a:hover {
	text-decoration:underline;
	cursor:pointer;
}

canvas {
	border:solid 1px #000;
	display: block;
	margin: auto;
}

label {
	display: block;
}

div.select2-container {
	display: block;
	width: 20ex;
}