body {
	font-family:arial;
	font-size:14px;
}

header {
	font-weight:bold;
	font-size:150%;
}

footer {
	font-size: 80%;
}

input,select {display:block;}

a:hover {
	text-decoration:underline;
	cursor:pointer;
}

canvas {
	border:solid 1px #000;
}